# Copyright (c) 2018 The nanoFramework project contributors
# See LICENSE file in the project root for full license information.

steps:

  # clone nf-interpreter repo to launch the build
  - checkout: templatesBuild
    fetchDepth: 1

  # Copy CMSIS-OS target files to nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy community target to nf-interpreter
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-Community-Targets\CMSIS-OS
      targetFolder: $(Build.SourcesDirectory)\nf-interpreter\targets-community\CMSIS-OS
      cleanTargetFolder: false
      overWrite: true

  # Copy TI-SimpleLinkS target files to nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy community target to nf-interpreter
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-Community-Targets\TI-SimpleLink
      targetFolder: $(Build.SourcesDirectory)\nf-interpreter\targets-community\TI-SimpleLink
      cleanTargetFolder: false
      overWrite: true

  # Copy install scripts folder from nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy nf-interpreter to community target folder
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-interpreter\install-scripts
      targetFolder: $(Build.SourcesDirectory)\install-scripts
      cleanTargetFolder: false
      overWrite: true
