# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

steps:

  # clone nf-interpreter repo to launch the build
  - checkout: templatesBuild
    fetchDepth: 1

  # Copy ChibiOS target files to nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy ChibiOS target files
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-Community-Targets\ChibiOS
      targetFolder: $(Build.SourcesDirectory)\nf-interpreter\targets-community\ChibiOS
      cleanTargetFolder: false
      overWrite: true

  # Copy TI-SimpleLink target files to nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy TI-SimpleLink target files
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-Community-Targets\TI_SimpleLink
      targetFolder: $(Build.SourcesDirectory)\nf-interpreter\targets-community\TI_SimpleLink
      cleanTargetFolder: false
      overWrite: true

  # Copy install scripts folder from nf-interpreter folder
  - task: CopyFiles@2
    displayName: Copy install scripts
    inputs:
      sourceFolder: $(Build.SourcesDirectory)\nf-interpreter\install-scripts
      targetFolder: $(Build.SourcesDirectory)\install-scripts
      cleanTargetFolder: false
      overWrite: true
