# Copyright (c) 2018 The nanoFramework project contributors
# See LICENSE file in the project root for full license information.

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - /*.md
    - .gitignore

pr:
  branches:
    include:
    - master
    - develop
    - release/*
  autoCancel: true

# add nf-tools repo to resources (for Azure Pipelines templates)
# add nf-interpreter repo to resources (for Azure Pipelines templates)
resources:
  repositories:
    - repository: templates
      type: github
      name: nanoframework/nf-tools
      endpoint: nanoframework
    - repository: templatesBuild
      type: github
      name: nanoframework/nf-interpreter
      ref: refs/heads/develop
      endpoint: nanoframework

variables:
  GNU_GCC_TOOLCHAIN_PATH: $(Agent.TempDirectory)\GNU_Tools_ARM_Embedded

jobs:

##############################
- job: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  steps:
  - checkout: self
    fetchDepth: 1

    # get commint message
  - powershell: |
      $commitMessage = "$env:Build_SourceVersionMessage"

      # need to flatten message by removing new lines
      $commitMessage = $commitMessage -replace "`n", " "

      # set variable to foward to jobs
      echo "##vso[task.setvariable variable=COMMIT_MESSAGE;isOutput=true]$commitMessage"
    name: getCommitMessage
    displayName: grab commit message

##############################
- job: Build_GHI_FEZ_CERB40_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#GHI_FEZ_CERB40_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: GHI_FEZ_CERB40_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: true

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_I2M_ELECTRON_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#I2M_ELECTRON_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: I2M_ELECTRON_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DUSE_RNG=OFF -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: true

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_I2M_OXYGEN_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#I2M_OXYGEN_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: I2M_OXYGEN_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DUSE_RNG=OFF -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: true

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_ST_NUCLEO64_F401RE_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ST_NUCLEO64_F401RE_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: ST_NUCLEO64_F401RE_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DUSE_RNG=OFF -DSWO_OUTPUT=ON -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: false

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_ST_NUCLEO64_F411RE_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ST_NUCLEO64_F411RE_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: ST_NUCLEO64_F411RE_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DUSE_RNG=OFF -DSWO_OUTPUT=ON -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: false

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_ST_NUCLEO144_F412ZG_NF
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ST_NUCLEO144_F412ZG_NF#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: ST_NUCLEO144_F412ZG_NF
    BuildOptions: -DTARGET_SERIES=STM32F4xx -DNF_FEATURE_DEBUGGER=ON -DSWO_OUTPUT=ON -DNF_FEATURE_RTC=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=OFF -DAPI_Windows.Devices.Adc=ON
    NeedsDFU: false

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_ST_NUCLEO144_F746ZG
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ST_NUCLEO144_F746ZG#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: ST_NUCLEO144_F746ZG
    BuildOptions: -DTARGET_SERIES=STM32F7xx -DRTOS=CHIBIOS -DNF_FEATURE_DEBUGGER=ON -DSWO_OUTPUT=ON -DNF_FEATURE_RTC=ON -DNF_FEATURE_HAS_CONFIG_BLOCK=ON -DAPI_System.Math=ON -DAPI_Hardware.Stm32=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON -DAPI_System.Net=ON -DNF_SECURITY_MBEDTLS=ON -DAPI_nanoFramework.Devices.OneWire=ON
    NeedsDFU: false

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##############################
- job: Build_ST_STM32F4_DISCOVERY
  condition: or( contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ST_STM32F4_DISCOVERY#'), contains(dependencies.Get_Commit_Message.outputs['getCommitMessage.COMMIT_MESSAGE'], '#ALL#') )
  dependsOn: Get_Commit_Message
  pool:
    vmImage: 'VS2017-Win2016'

  variables:
    BoardName: ST_STM32F4_DISCOVERY
    BuildOptions: -DTARGET_SERIES=STM32F7xx -DRTOS=CHIBIOS -DSUPPORT_ANY_BASE_CONVERSION=ON -DNF_FEATURE_DEBUGGER=ON -DSWO_OUTPUT=ON -DNF_FEATURE_RTC=ON -DAPI_System.Math=ON -DAPI_Hardware.Stm32=ON -DNF_FEATURE_HAS_CONFIG_BLOCK=ON -DAPI_Windows.Devices.Gpio=ON -DAPI_Windows.Devices.Spi=ON -DAPI_Windows.Devices.I2c=ON -DAPI_Windows.Devices.Pwm=ON -DAPI_Windows.Devices.SerialCommunication=ON -DAPI_Windows.Devices.Adc=ON -DAPI_System.Net=ON -DNF_SECURITY_MBEDTLS=ON -DAPI_nanoFramework.Devices.OneWire=ON -DAPI_nanoFramework.Devices.Can=ON
    NeedsDFU: false

  steps:
  - template: azure-pipelines-templates/nb-gitversioning.yml@templatesBuild

  - template: clone-nf-interpreter-repo.yml

  - template: azure-pipelines-templates/download-install-arm-gcc-toolchain.yml@templatesBuild

  - template: azure-pipelines-templates/download-install-ninja.yml@templatesBuild

  - template: azure-pipelines-templates/download-hexdfu.yml@templatesBuild

  - template: azure-pipelines-templates/build-chibios-stm32.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/pack-publish-artifacts.yml@templatesBuild
    parameters:
      builDirectory: $(Build.SourcesDirectory)\nf-interpreter\build

  - template: azure-pipelines-templates/publish-bintray.yml@templatesBuild

##################################
# report build failure to Discord
- job: Report_Build_Failure
  dependsOn:
  - Build_GHI_FEZ_CERB40_NF
  - Build_I2M_ELECTRON_NF
  - Build_I2M_OXYGEN_NF
  - Build_ST_NUCLEO64_F401RE_NF
  - Build_ST_NUCLEO64_F411RE_NF
  - Build_ST_NUCLEO144_F412ZG_NF
  - Build_ST_NUCLEO144_F746ZG
  - Build_ST_STM32F4_DISCOVERY
  condition: or( failed('Build_GHI_FEZ_CERB40_NF'), failed('Build_I2M_ELECTRON_NF'), failed('Build_I2M_OXYGEN_NF'), failed('Build_ST_NUCLEO64_F401RE_NF'), failed('Build_ST_NUCLEO64_F411RE_NF'), failed('Build_ST_NUCLEO144_F412ZG_NF'), failed('Build_ST_NUCLEO144_F746ZG'), failed('Build_ST_STM32F4_DISCOVERY'))

  pool:
    vmImage: 'VS2017-Win2016'

  steps:
  - checkout: self
    fetchDepth: 1

  # step from template @ nf-tools repo
  - template: azure-pipelines-templates/discord-webhook.yml@templates  
    parameters:
      status: 'failure'
      webhookUrl: '$(DiscordWebhook)'
      message: ''
